::ng-deep.ant-checkbox-inner {
  border-radius: 50% !important;
}

::ng-deep.ant-checkbox-checked {
  .ant-checkbox-inner {
    background-color: green;
  }
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ant-checkbox {
  cursor: pointer;
}

.ant-checkbox + span {
  padding-left: 8px;
}

.task-title {
  &:hover {
    text-decoration: underline;
  }
}
