<nz-modal [(nzVisible)]="isVisiblePopUpAddMember" nzCentered [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalContent>
        <div class="text-center text-primary font-semibold text-[40px]">
            <span>{{'PopUpAddEditUnit.member'|translate}}</span>
        </div>
        <form [formGroup]="form" class="grid grid-cols-2 gap-2 lg:!w-[450px] h-[300px] lg:px-[30px] lg:pb-2 overflow-auto">
            <div class="custom-input col-span-2 mb-2">
                <div class="flex flex-col gap-3">
                    <span>{{'PopUpAddEditUnit.member'|translate}}<span class="text-red-500">*</span></span>
                    
                    <nz-select
                        formControlName="members"
                        nzShowSearch
                        nzServerSearch
                        nzMode="multiple"
                        nzAllowClear
                        nzPlaceHolder="{{'PopUpAddEditUnit.member'|translate}}"
                        [(ngModel)]="selectedValue"
                        [nzShowArrow]="false"
                        [nzFilterOption]="nzFilterOption"
                        (nzOnSearch)="search($event)"
                        style="width: full;"
                        [class.error-border]="form.get('members')?.errors?.['required'] && (form.get('members')?.dirty || form.get('members')?.touched)"
                        class="h-[40px]"
                    >
                        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
                    </nz-select>
                    <div *ngIf="form.get('members')?.errors?.['required'] && (form.get('members')?.dirty || form.get('members')?.touched)" 
                         class="text-red-600 text-sm mt-0,5 flex items-center">
                        <i nz-icon nzType="exclamation-circle" nzTheme="fill" class="mr-1"></i>
                        {{'PopUpAddEditUnit.noEmty'|translate}}
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <div class="flex justify-center">
            <button nz-button nzType="primary"
                class="!bg-primary border-none rounded-lg hover:opacity-60 hover:bg-primary text-white hover:text-black"
                (click)="handleOk()" [nzLoading]="isConfirmLoading">{{'Button.addMember'| translate }}</button>
        </div>
    </ng-template>
</nz-modal>
